.wrapper
  = render 'shared/side_bar'
  .chat.clearfix
    .chat-header
      .left-header
        .left-header__title ああああ
        %ul.left-header__members Member
      .right-header
        %a.right-header__button
          = link_to "Edit", edit_group_path(current_user), class: "right-header__button-edit"
    .chat-messages
      = render @messages
    .chat-bottom
      .from
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-bottom__from', placeholder: 'type a message'
          .form__mask
            = f.label :picture, class: 'chat-bottom__imgae' do
              = fa_icon 'picture-o', class: 'fa-image'
            = f.file_field :picture, class: 'hidden'
            = f.submit 'Send', class: 'chat-bottom__box'
